@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  font-weight: 800;
  color: #fcfcfc;
  background-color: inherit;
}

.wrapper {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 10px;
  padding: 20px 25px 40px;
}
header h2 {
  font-size: 24px;
  font-weight: 600;
}
header p {
  margin-top: 5px;
  font-size: 16px;
}
.price-input {
  width: 100%;
  display: flex;
  margin: 30px 0 35px;
}
.price-input .field {
  height: 45px;
  width: 100%;
  display: flex;
  align-items: center;
}
.field input {
  width: 100%;
  height: 100%;
  outline: none;
  font-size: 19px;
  text-align: center;
  margin-left: 12px;
  border-radius: 5px;
  border: 1px solid #999;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button
  input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0;
}
.price-input .separator {
  width: 130px;
  display: flex;
  font-size: 19px;
  align-items: center;
  justify-content: center;
}

.dropdown {
  /* width: 100%; */
  max-width: 300px;
  position: relative;
  margin: 2em;
}
.dropdown * {
  box-sizing: border-box;
}
.select {
  background: #fff;
  color: rgb(67, 67, 67);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #fff;
  border-radius: 0.5em;
  padding: 1em;
  cursor: pointer;
  transition: background 0.3s;
}
.select-clicked {
  border: 2px solid #fff;
}
.select:hover {
  background: rgba(241, 240, 240, 0.847);
}
.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  transition: 0.3s;
}
.caret-rotate {
  transform: rotate(180deg);
}
.menu {
  list-style: none;
  padding: 0.2em 0.5em;
  background: #ddd;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.2s;
  z-index: 1;
}
.menu li {
  padding: 0.7em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu li:hover {
  background: #999;
}

.active {
  background: #999;
}

.menu-open {
  display: block;
  opacity: 1;
}
